footer.blrrr.spc_pnddng
    .container
        .spc_info_footer
            .cl1
                .lgo_footr
                    img(src="images/demo_web_alsaer-09.png", alt="", srcset="")
                .ttt_fftr Lorem ipsum dolor sit
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, vero ipsa eius non fugiat placeat nam voluptatum perspiciatis labore ab.
            .cl2
                .top_inf_cn
                    .bx_infff_ffttrr
                        .icnffttr
                            i.fas.fa-phone
                        .txt_cntt_fftrr
                            span Phone
                            a(href="#") +0-000-000-0000
                    .bx_infff_ffttrr
                        .icnffttr
                            i.fas.fa-map-marker-alt
                        .txt_cntt_fftrr
                            span Address
                            a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    .bx_infff_ffttrr
                        .icnffttr
                            i.far.fa-clock
                        .txt_cntt_fftrr
                            span Openning Hours
                            a(href="#") Mon.-Fri. 9.00-18.00
                .bbtmm_fftrr
                    a(href="index.html") Home
                    a(href="about_us.html") About us
                    a(href="afiliates.html") Afiliates
                    a(href="products.html") Products
                    a(href="services.html") Services
                    a(href="contact.html") Contact us

                .bbtmm_fftrr
                    .tpp_mn_ffttrr Address
                    .line_addrss Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    .line_addrss Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .bbtmm_fftrr
                    .tpp_mn_ffttrr Subscribe
                    form
                        input(type="text")
                        button(type="submit") Submit
                    .line_addrss Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    
                            


script(src="js/jquery.js")
script(src="js/all.js")



        