header
    .container
        .spc_header
            a(href="#")
                .logo_hdr
                    img(src="images/logo1.png", alt="")
            .spc_menu_hdr
                .menu
                    a(href="index.html") Home
                    a(href="about_us.html") About us
                    a(href="afiliates.html") Afiliates
                    a(href="products.html") Products
                    a(href="services.html") Services
                    a.diff_cll_t_a(href="contact.html") Contact us

            .cntrl_respnsv
                .btm_mnu_rspnvv
                    .barss
                        i.fas.fa-bars
                    .clsss
                        i.fas.fa-times