<!DOCTYPE html>
html(lang="en")
    include includes/_head
    body
        include includes/_header
        

        section.blrrr.top_sec_cmmmra
            .bx_cntrllld
                .iiimmmg
                    img(src="images/logo1.png", alt="")
                .dssccrgtt
                    img(src="images/logo_nuevo_alsaer_008.png", alt="", srcset="")

        section.blrrr.inf_abtus
            .container
                .spc_inf_abtus
                    .clmn_iinfff_abtus
                        .tit_innff_abtus Lorem ipsum dolor sit.
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt aliquid facilis optio, sint excepturi quae voluptatem, alias nemo corrupti iure repellat neque libero! Incidunt minima ad, totam beatae optio quidem assumenda aperiam eveniet voluptas magni, eligendi neque voluptate doloribus modi impedit adipisci nostrum. Enim obcaecati nesciunt provident adipisci, molestiae, aperiam perferendis accusantium qui nostrum possimus esse doloremque fuga unde tempore.
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt aliquid facilis optio, sint excepturi quae voluptatem, alias nemo corrupti iure repellat neque libero! Incidunt minima ad, totam beatae optio quidem assumenda aperiam eveniet voluptas magni, eligendi neque voluptate doloribus modi impedit adipisci nostrum. Enim obcaecati nesciunt provident adipisci, molestiae, aperiam perferendis accusantium qui nostrum possimus esse doloremque fuga unde tempore.
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt aliquid facilis optio, sint excepturi quae voluptatem, alias nemo corrupti iure repellat neque libero! Incidunt minima ad, totam beatae optio quidem assumenda aperiam eveniet voluptas magni, eligendi neque voluptate doloribus modi impedit adipisci nostrum. Enim obcaecati nesciunt provident adipisci, molestiae, aperiam perferendis accusantium qui nostrum possimus esse doloremque fuga unde tempore.
                    .clmn_iinfff_abtus.imgg_abtss
                        img(src="images/demo_web_alsaer-07.jpg", alt="")
   
            


        

        include includes/_footer