<!DOCTYPE html>
html(lang="en")
    include includes/_head
    body
        include includes/_header
        

        section.blrrr.scc_afiliate
            .box_img_affflllt
                img(src="images/demo_web_alsaer-06.jpg", alt="")
            .box_text_affflt_1
                .logo_aflll
                    img(src="images/logo1.png", alt="")
                .tiittt_afflli Lorem ipsum dolor sit.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi similique, totam corporis dolorum sapiente facilis recusandae voluptatem a reprehenderit architecto at? Facilis magnam eligendi accusantium voluptatem nulla quia ab dignissimos, harum adipisci error! Consectetur quibusdam eveniet inventore quaerat facere architecto culpa. Quidem odio totam at numquam asperiores, debitis optio doloribus repudiandae. Et voluptate commodi voluptatem repudiandae quam id, fuga aliquam excepturi ab odio, odit illo in inventore aut maiores nobis nostrum nemo cumque autem veritatis sit saepe rem! Placeat, facere.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse est natus nisi cumque consequuntur ad ex, et voluptatem vel laborum provident nulla. Ducimus ullam cum optio nesciunt quas itaque sapiente accusamus, incidunt nam provident obcaecati enim dolorum sit dolorem soluta.
        section.blrrr.scc_afiliate
            .box_text_affflt_2
                .logo_aflll
                    img(src="images/logo1.png", alt="")
                .tiittt_afflli Lorem ipsum dolor sit.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi similique, totam corporis dolorum sapiente facilis recusandae voluptatem a reprehenderit architecto at? Facilis magnam eligendi accusantium voluptatem nulla quia ab dignissimos, harum adipisci error! Consectetur quibusdam eveniet inventore quaerat facere architecto culpa. Quidem odio totam at numquam asperiores, debitis optio doloribus repudiandae. Et voluptate commodi voluptatem repudiandae quam id, fuga aliquam excepturi ab odio, odit illo in inventore aut maiores nobis nostrum nemo cumque autem veritatis sit saepe rem! Placeat, facere.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse est natus nisi cumque consequuntur ad ex, et voluptatem vel laborum provident nulla. Ducimus ullam cum optio nesciunt quas itaque sapiente accusamus, incidunt nam provident obcaecati enim dolorum sit dolorem soluta.
            .box_img_affflllt
                img(src="images/demo_web_alsaer-06.jpg", alt="")
                
        

        include includes/_footer