<!DOCTYPE html>
html(lang="en")
    include includes/_head
    body
        include includes/_header
        
        section.blrrr.sectop_gnrl
            iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15807.9157588982!2d-72.48501745!3d7.8972687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1584553557070!5m2!1ses!2sco', width='600', height='450', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')

        
        section.blrrr.frmm_contact
            .container
                .spc_contccc
                    .inf_connccct
                        .bx_inff
                            .tiiiittt_infff_ccnnt Address 1
                            p 8901 Marmora Road, Glasgow, D04 89GR.
                        .bx_inff
                            .tiiiittt_infff_ccnnt Telephones
                            p +00-000-000-0000
                            p +00-000-000-0000
                            p +00-000-000-0000
                            p +00-000-000-0000
                        .bx_inff
                            .tiiiittt_infff_ccnnt Address 2
                            p 8901 Marmora Road, Glasgow, D04 89GR.

                    .formrr_conttcc
                        form
                            input(type="text", placeholder="Name:*")
                            input(type="text", placeholder="E-mail:*")
                            input(type="text", placeholder="Phone:*")
                            textarea(type="text", placeholder="Message:*")
                            button(type="submit") Send

                            


        include includes/_footer