<!DOCTYPE html>
html(lang="en")
    include includes/_head
    body
        include includes/_header
        
        section.innntt_sldr
            
            .bx_cntrllld
                .iiimmmg
                    img(src="images/logo1.png", alt="")
                .dssccrgtt
                    img(src="images/logo_nuevo_alsaer_008.png", alt="", srcset="")


        section.blrrr.spc_pnddng.sec2
            
            .container
                .spc_info_sc1
                    .bx_inf_sc1
                        .titt_sec1 Lorem ipsum dolor sit amet consectetur
                        .sb_tt_src1 Lorem ipsum
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, nemo iste possimus id cum accusantium sint, saepe deleniti cumque porro unde, assumenda laudantium ipsum vitae quam facilis et ullam itaque!
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur incidunt, minus non sit eligendi laboriosam debitis, odit labore ducimus recusandae veritatis! Quibusdam expedita, mollitia cum sit, quisquam autem ipsa dolore eos, animi saepe exercitationem illo! Molestias iste nostrum ipsam, ad distinctio provident facere blanditiis ut tempora esse dolor officiis deleniti in nisi sapiente? Eos nisi nam accusantium fugit id aut!
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni illum aliquam ipsum, quod corrupti quasi deserunt molestias eligendi beatae necessitatibus doloribus qui esse ducimus impedit reiciendis dolorum? Vitae, quaerat eaque.
                        a.btm_gnrl_grnn(href="#") About us
                    .bx_inf_sc1.spc_img_sc2
                        img(src="images/demo_web_alsaer-10.jpg", alt="")
                    .bx_inf_sc1.ddrrcch1
                        .titt_sec1 Lorem ipsum dolor sit amet consectetur
                        .sb_tt_src1 Lorem ipsum
                        .list_inf_1
                            .itm_lstt
                                .iccn1
                                    i.fas.fa-user
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, vero ipsa eius non fugiat placeat nam voluptatum perspiciatis labore ab.
                            .itm_lstt
                                .iccn1
                                    i.fas.fa-user
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, vero ipsa eius non fugiat placeat nam voluptatum perspiciatis labore ab.
                            .itm_lstt
                                .iccn1
                                    i.fas.fa-user
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, vero ipsa eius non fugiat placeat nam voluptatum perspiciatis labore ab.

        section.blrrr.sccc_seppp
            .titt_sec1 Lorem ipsum dolor sit amet consectetur adipisicing.
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique natus dolorum mollitia quidem tenetur doloremque.
        

        section.blrrr.grdd_imggg1
            .bs_img
                .info_bx_img
                    .tiitt_bx_img Lorem ipsum dolor sit
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, vero ipsa eius non fugiat placeat nam voluptatum perspiciatis labore ab.
                img(src="images/demo_web_alsaer-03.jpg", alt="")
            .bs_img
                .info_bx_img
                    .tiitt_bx_img Lorem ipsum dolor sit
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, vero ipsa eius non fugiat placeat nam voluptatum perspiciatis labore ab.
                img(src="images/demo_web_alsaer-04.jpg", alt="")
            .bs_img
                .info_bx_img
                    .tiitt_bx_img Lorem ipsum dolor sit
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, vero ipsa eius non fugiat placeat nam voluptatum perspiciatis labore ab.
                img(src="images/demo_web_alsaer-05.jpg", alt="")
            .bs_img
                .info_bx_img
                    .tiitt_bx_img Lorem ipsum dolor sit
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, vero ipsa eius non fugiat placeat nam voluptatum perspiciatis labore ab.
                img(src="images/demo_web_alsaer-06.jpg", alt="")
            .bs_img
                .info_bx_img
                    .tiitt_bx_img Lorem ipsum dolor sit
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, vero ipsa eius non fugiat placeat nam voluptatum perspiciatis labore ab.
                img(src="images/demo_web_alsaer-07.jpg", alt="")
            .bs_img
                .info_bx_img
                    .tiitt_bx_img Lorem ipsum dolor sit
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, vero ipsa eius non fugiat placeat nam voluptatum perspiciatis labore ab.
                img(src="images/demo_web_alsaer-02.jpg", alt="")
        
        section.blrrr.spc_pnddng.srvccssss4
            .container
                .cntrl_sc4
                    .bar_top_sec3
                        .tiittt_t3 Lorem ipsum dolor sit amet consectetur
                        a.btm_actssf(href="#") About us
                    .bx_4_inf
                        .datt may 8, 1992
                        .tiitt_bx_img Lorem ipsum dolor sit
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, vero ipsa eius non fugiat placeat nam voluptatum perspiciatis labore ab.
                    .bx_4_inf
                        .datt may 8, 1992
                        .tiitt_bx_img Lorem ipsum dolor sit
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, vero ipsa eius non fugiat placeat nam voluptatum perspiciatis labore ab.
                    .bx_4_inf
                        .datt may 8, 1992
                        .tiitt_bx_img Lorem ipsum dolor sit
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, vero ipsa eius non fugiat placeat nam voluptatum perspiciatis labore ab.
        section.blrrr.mappp
            .container
                .spc_map_idnx
                    img(src="images/mapa_mundi.png", alt="")
                .contennttt_mppp
                    .tiittt_mp Estados Unidos + America Latina + China
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid vitae quia, amet, iure praesentium enim vero voluptates perspiciatis, eveniet et quasi officia. Cum hic illum ipsum recusandae omnis autem voluptatibus? Esse dicta voluptas minima a harum commodi quibusdam, beatae qui enim sequi minus odio tempore est? Doloribus repellat, blanditiis a dicta qui iusto eius at ullam corrupti minus delectus alias numquam! Quibusdam nostrum non quisquam accusantium porro quis quidem facere sequi laborum perferendis excepturi, dignissimos quos, animi officia omnis.
     
       
        
        include includes/_footer

        
        
      
        