<!DOCTYPE html>
html(lang="en")
    include includes/_head
    body
        include includes/_header
        
        section.blrrr.sectop_gnrl
            img(src="images/demo_web_alsaer-08.jpg", alt="")
        
        section.blrrr.prodctss1
            .container
                .products
                    .top_tiittt Products
                        span
                    .prodcto1
                        .bx_img_prodct
                            img(src="images/demo_web_alsaer-06.jpg", alt="")
                        .bx_contt_prodct
                            .ttti_ccnn_pdct Lorem ipsum dolor sit
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cupiditate quisquam eaque iste!
                    .prodcto1
                        .bx_img_prodct
                            img(src="images/demo_web_alsaer-06.jpg", alt="")
                        .bx_contt_prodct
                            .ttti_ccnn_pdct Lorem ipsum dolor sit
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cupiditate quisquam eaque iste!
                    .prodcto1
                        .bx_img_prodct
                            img(src="images/demo_web_alsaer-06.jpg", alt="")
                        .bx_contt_prodct
                            .ttti_ccnn_pdct Lorem ipsum dolor sit
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cupiditate quisquam eaque iste!
                    .prodcto1
                        .bx_img_prodct
                            img(src="images/demo_web_alsaer-06.jpg", alt="")
                        .bx_contt_prodct
                            .ttti_ccnn_pdct Lorem ipsum dolor sit
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cupiditate quisquam eaque iste!
                    .prodcto1
                        .bx_img_prodct
                            img(src="images/demo_web_alsaer-06.jpg", alt="")
                        .bx_contt_prodct
                            .ttti_ccnn_pdct Lorem ipsum dolor sit
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cupiditate quisquam eaque iste!
                    .prodcto1
                        .bx_img_prodct
                            img(src="images/demo_web_alsaer-06.jpg", alt="")
                        .bx_contt_prodct
                            .ttti_ccnn_pdct Lorem ipsum dolor sit
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cupiditate quisquam eaque iste!
                    .prodcto1
                        .bx_img_prodct
                            img(src="images/demo_web_alsaer-06.jpg", alt="")
                        .bx_contt_prodct
                            .ttti_ccnn_pdct Lorem ipsum dolor sit
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cupiditate quisquam eaque iste!
                    .prodcto1
                        .bx_img_prodct
                            img(src="images/demo_web_alsaer-06.jpg", alt="")
                        .bx_contt_prodct
                            .ttti_ccnn_pdct Lorem ipsum dolor sit
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cupiditate quisquam eaque iste!
                    .prodcto1
                        .bx_img_prodct
                            img(src="images/demo_web_alsaer-06.jpg", alt="")
                        .bx_contt_prodct
                            .ttti_ccnn_pdct Lorem ipsum dolor sit
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cupiditate quisquam eaque iste!

        section.blrrr.pllxx1
            .container
                .inf_pllx
                    .ttiitt_pllxx Lorem ipsum dolor sit.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quidem aperiam expedita placeat dolorum tempore?
        

        include includes/_footer